* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  overflow-y: auto;
}

#app {
  min-height: 100%;
  background-color: var(--background-1);
}

.color-primary {
  color: var(--primary);
}
